<!-- Home View -->

<div id="home"
     data-role="view"
     data-title="Task Tracker">

    <br />
    <div style="float: left; width: 30%; padding-left:10px">
        <img src="img/timetracker.png" />
    </div>

    <div style="float: center; width: 70%;">
        <br />
        <br />
        <h1>Home Page</h1>
    </div>

    <div style="float: left; width: 100%;">
        <h3>Task Tracker is an application that enables you to track the amount of time you spend on your tasks.
            <br/>
            <br/>
            Tasks can be created with a start date in the future to act as reminders which will display in the your calendar.Your assigned tasks can be exported to a .csv file
            <br/>
            <br/>
        </h3>
    </div>
</div>
